*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: block;
}

.Front{
    padding-top: 30px;
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(niagra_falls.JPG);
    background-size: cover;
    background-position: bottom 30%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-size: 30px;
    color: white;
  }
  .topnav-centered a:hover{
    background-color: #ddd;
    color: black;
  }
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
.welcome{
    margin-top: 20px;
}
.profile_pic{
    width: 20%;
    height: 20%;
    justify-content: center;
    vertical-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid lightslategrey;
}
.intro {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.row{
    display: block;
}

.important_imgs img{
    width:50px;
    height: 50px
}

.important_imgs ul{
    list-style: none;
}

.important_imgs li{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}


.important_imgs li:hover{
    transform: scale(1.7);
}
#github_img{
    position: relative;
    bottom: 15px;
}
.Intro_Text{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: white solid 5px;
}
.Intro_Text h1{
    margin-top: 20px;
}
/* .About_Me{
    display: block;
    background-image: url(toronto_streets.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;
} */

.About_Me_Half{
    font-size: large;
    display: table-cell;
    width: 50%;
    display: absolute;
}
/* .About_Me video{
    display: block;
} */
