*{
    margin: 0;
    padding: 0;
}
main{
    background-image: url(niagra_falls.JPG);
    background-size: 1450px;
    background-position: bottom 30%;
    background-repeat: no-repeat;
    position: absolute;
    padding-top: 80px;
}
.profile_pic{
    width: 20%;
    height: 20%;
    justify-content: center;
    vertical-align: center;
    border-radius: 50%;
}
.intro{
    text-align: center;
}
.row{
    display: block;
}
.important_things li{
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 5px 10px;
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    
}
.important_things a{
    text-decoration: none;
    color: white;
}
#github_img{
    position: relative;
    bottom: 15px;
}
.Intro_Text{
    color: white;
}
