*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: block;
}
html{
    background-color:rgb(174,174,174);
    background-size: cover

}
.Front{
    padding-top: 30px;
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("./images/niagra_falls.JPG");
    background-size: cover;
    background-position: bottom 30%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.5s ease;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-size: 30px;
    color: white;
  }
  .topnav-centered a:hover{
    background-color: #ddd;
    color: black;
  }
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
.welcome{
    margin-top: 20px;
}
.profile_pic{
    height: 100%;
    justify-content: center;
    vertical-align: center;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 1px solid white;
}
.profile_pic:hover{
    cursor: pointer;
}
.mainPicWrapper{
    height: 60vh;
    width: 100%;
    /* border: 2px solid white; */
    display: block;
    margin-bottom: 2%;
}
.intro {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.row{
    display: flex;
    
}


.important_imgs img{
    width:50px;
    height: 50px
}

.important_imgs ul{
    list-style: none;
}

.important_imgs li{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}


.important_imgs li:hover{
    transform: scale(1.7);
}
#github_img{
    position: relative;
    bottom: 15px;
}
.Intro_Text{
    display: block;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20vh;
}
.Intro_Text h1{
    margin-top: 1%;
}
.page_2{
    background-image: url("./images/toronto_streets_blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
}
.Little_About_Me{
    text-align: left;
    display: block;
    width: 100%;
    height: 5vh;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 3%;
    color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.About_Me{
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    
}
.About_Me_Half{
    width:50%;
    min-width: 100px;
    display: flex;
    text-align: center;
}
.About_Me_Half p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#block_m{
    width:70%;
    
}
.UofM_Logo img:hover{
    transform: scale(1.3);
}
.UofM_Logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Self_Description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
}
@media screen and (max-width: 1000px) {
    div.Self_Description{
      font-size: 20px;
    }
  }
@media screen and (max-height: 1000px) {
    div.Self_Description{
        font-size: 20px;
    }
}
@media screen and (max-height: 500px) {
    div.body{
        font-size: 2px;
    }
}
@media screen and (max-width: 900px) {
    div.footer{
      font-size: 10px;
    }

}
.row_1{
    width:100%;
    height: 31%;
    font-size: 31px;
    border-bottom: lightskyblue dotted 5px;
}
.row_2{
    width:100%;
    height:31%;
    border-bottom: lightskyblue dotted 5px;
    font-size: 30px;
}
.Drone_Video{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Drone_Video video{
    width: 40%;
}
.row_3{
    width: 100%;
    height: 27%;
}
.row_3 p{
    font-size: 35px;
}
.footer{
    width: 100%;
    background-color: dimgray;
    height: 11%;
}
.contact_me a{
    color: white;
    font-weight: bold;
}
.contact_me{
    display: block;
    width: 100vw;
    padding: 5% 0;
}
#rnagcopyright{
    margin-top: 6.6%;
    margin-left: 1%;
}
#backToTop{
    margin-left: 86%;
    margin-top: 6.6%;
    margin-right: 2%;
}
#backToTop a{
    color: lightskyblue
}






